* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #cbd5e1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-weight: 700;
    font-size: 70px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    table-layout: fixed;
    border: 1px black solid;
}

tbody {
    display: block;
    overflow-y: scroll;
    text-align: left;
}

thead, tbody tr {
    display: table;
    width: 100%;
}

thead {
    width: 100%;
}

td {
    text-align: center;
}
th {
    text-overflow: ellipsis;
    overflow: hidden;
}

td:nth-child(1) {
    width: 30%;
}

td:nth-child(2) {
    width: 30%;
}

td:nth-child(3) {
    width: 20%;
}

th:nth-child(1) {
    width: 30%;
}

th:nth-child(2) {
    width: 30%;
}

th:nth-child(3) {
    width: 20%;
}

.new {
    border: none;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px;
    background-color: #4774aa;
    color: white;
}

button:hover {
    background-color: #5486c4;
}

button:active {
    background-color: #659fe5;
}

.form {
    padding: 20px;
    border: 2px solid #4774aa;
    margin: 20px;
}

input {
    border: none;
    background-color: #cbd5e1;
    height: 30px;
    width: 100px;
    font-size: 16px;
    margin: 20px;

}

input:active {
    border: none;
}

fieldset {
    border: none;
}

#yes, #no {
    height: 20px;
    color: #4774aa;
}

#submit, #return {
    border: none;
    height: 40px;
    width: 110px;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px;
    background-color: #4774aa;
    color: white;
}